

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #DDD;
}

body {
  color: black;
  text-align: left;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.navbar-custom {
  background-color: rgba(30, 30, 30, 0.3);
  border: none;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  text-align: right;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

.intro-header {
  background-color: #333;
  background: no-repeat bottom center;
  background-size: cover;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  margin-top: 10%;
  padding: 100px 0 50px;
  color: white;
  text-shadow: 2px 2px 5px black;
}
