/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #DDD;
}

body {
  color: black;
  text-align: left;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

.navbar-custom .navbar-nav > li > a,
.navbar-toggle,
.navbar-custom .navbar-brand {
    color:#fff;
}

.navbar-custom .navbar-header > a:hover,
.navbar-custom .navbar-header > a:focus,
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color:#aaa;
}

/*
 * Footer
 */
.mastfoot {
  color: #999; /* IE8 proofing */
  color: gray;
  position: fixed;
  bottom: 0;
  width:100%;
  padding-left: 10px;
  padding-right: 10px;
}

/*
 * Hide timestamp section on narrow screens
 */
@media (max-width: 500px) {
    .timestamp {
        visibility: hidden;
    }
}

.intro-header {
  background-color: #333;
  background: no-repeat center;
  background-size: cover;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%
}

.shaded {
  background: radial-gradient(closest-side, rgba(0, 0, 0, 0.5),transparent);
  padding: 20px;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  margin-top: 10%;
  padding: 100px 0 50px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.page-div {
    padding-top: 55px;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 768px) {
    .page-div {
        padding-left: 10%;
        padding-right: 10%;
    }
}
