/*
 * Base structure
 */
html,
body {
  display: block;
  overflow: auto;
  /*background-color: #f2faff;*/
  background-color: #ebebeb;
}

body {
  color: #333;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

.navbar-custom .navbar-nav > li > a,
.navbar-toggle,
.navbar-custom .navbar-brand {
    color:#ebebeb;
    border-color: transparent;
}

.navbar-toggle {
  height: 30px;
  padding: 3px;
}

.navbar-custom .navbar-header > a:hover,
.navbar-custom .navbar-header > a:focus,
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #aaa;
    background-color: transparent;
}

/*
 * Footer
 */
.mastfoot {
  color: #999; /* IE8 proofing */
  color: gray;
  bottom: 0;
  width:100%;
  text-align: center;
}

.intro-header {
  background: no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 50vh;
}

.page-div {
  max-width: 768px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}

.divider {
  width: 75%;
}

.excerpt,
.post {
  background-color: white;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.12);
  border-radius: 2px;
}

.excerpt {
  color: #333;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.excerpt:hover {
  box-shadow: 0px 8px 16px rgba(0,0,0,0.25);
}

.disqus-box {
  padding-right: 20px;
  padding-left: 20px;
}

.datestring {
  color: #888;
}

