/*
 * Base structure
 */
html,
body {
  display: block;
  overflow: auto;
  /*background-color: #f2faff;*/
  background-color: #ebebeb;
}

body {
  color: #333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: medium;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

.navbar-custom .navbar-nav > li > a,
.navbar-toggle,
.navbar-custom .navbar-brand {
    color:#ebebeb;
}

.navbar-custom .navbar-header > a:hover,
.navbar-custom .navbar-header > a:focus,
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color:#aaa;
}

/*
 * Footer
 */
.mastfoot {
  color: #999; /* IE8 proofing */
  color: gray;
  position: fixed;
  bottom: 0;
  width:100%;
  padding-left: 10px;
  padding-right: 10px;
}

/*
 * Hide timestamp section on narrow screens
 */
@media (max-width: 500px) {
    .timestamp {
        visibility: hidden;
    }
}

.intro-header {
  background-color: #333;
  background: no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
}

.shaded {
  background: radial-gradient(closest-side, rgba(0, 0, 0, 0.5),transparent);
  padding: 20px;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  margin-top: 10%;
  padding: 100px 0 50px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.page-div {
    padding-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 768px) {
    .page-div {
        max-width: 768px;
        margin: auto;
    }
}

.readmore {
  text-align: right;
  padding-right: 20px;
}

.divider {
  width: 75%;
}

.excerpt,
.post {
  background-color: white;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.12);
  border-radius: 2px;
}

.excerpt {
  color: #888;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.excerpt:hover {
  box-shadow: 0px 8px 16px rgba(0,0,0,0.25);
}

.disqus-box {
  padding-right: 20px;
  padding-left: 20px;
}

h2 {
  color: #333;
}
